.font-bold {
  font-weight: $font-bold;
}

.font-sm {
  font-size: $font-size-sm;
}

.shadow-lg {
  box-shadow: $shadow-lg;
}

.color-gray {
  color: $text-color-gray;
}

.color-red {
  color: $primary-red;
}
