// colors
$primary-red: #e31f24;
$primary-black: #000000;
$text-color-base: #333333;
$text-color-gray: #76787d;
$border-color-gray: #e9ecef;
$border-color-gray-2: #e0e0e0;

// shadows
$shadow-lg: 0px 0px 10px 0px #0000001a;

// typography
$font-base: 'Montserrat', sans-serif;

$font-size-base: 16px;
$font-size-sm: 14px;

$font-medium: 400;
$font-bold: 600;
